.mivcontainer{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.mivcontainer .imgcontainer{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.mivcontainer .imgcontainer .imginner{
  height: 100%;
  position: relative;
}
.mivcontainer .imgcontainer .imginner:after{
  clear:both;
  content:"";
  display:block;
  font-size:0;height:0;line-height:0;visibility:hidden;
}
.mivcontainer .imgcontainer .imginner .item{
  position: relative;
  display: block;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  letter-spacing:-800px;
}
.mivcontainer .imgcontainer .imginner .item img{
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  letter-spacing:-800px;
}
.mivcontainer .indicator{
  position: absolute;
  bottom:30px;
  left:100px;
  text-align: center;
  margin: 0 auto;
  height: 6px;
}
.mivcontainer .indicator .ind{
  height: 100%;
  background: #aaa;
  display: inline-block;
  position: relative;
}
.mivcontainer .indicator .ind.select{
  background: #FCCC5D;
}